/* TOGGLE */
.aw-toggle {
	float: left;
	line-height: 70px;
	margin-left: 15px;
	color: #000;
}

/* MENU */
.aw-menu {
	font-size: 1.1em;
}

.aw-menu>ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.aw-menu>ul a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	font-weight: 500;
	color: #373737;
}

.aw-menu>ul i {
	margin-right: 6px;
}

.aw-menu>ul a:hover, .aw-menu>ul a:focus {
	background-color: #dfdfdf;
}

.aw-menu>ul .is-selected {
	border-left: 3px solid #1e94d2;
	background-color: #f3f3f3;
}

.aw-menu>ul .is-selected a {
	margin-left: -3px;
	color: #1e94d2;
}

/* PAGE-TITLE */
.aw-page-title {
	margin: 0;
	padding: 25px 0;
	font-size: 1.5em;
	color: #373737;
}

.aw-table-title {
	margin: 0;
	padding: 13px 0;
	font-size: 1.1em;
	color: #373737;
}

.selectOneButton .ui-state-active {
	background-color: #2980b9;
	color: #fff;
}

.button-login {
	background-color: #008CBA; /* Blue */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}


.button-blue {
	background-color: #008CBA; /* Blue */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}

.button-green {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}

.green.ui-datatable { background: green;}

.red.ui-datatable {background: red;}

.yellow.ui-datatable {background: yellow;}

.white.ui-datatable {background: white;}


